In [1]:
import cx_Oracle
import os
import pandas as pd
import xlwings as xw
import json
import datetime as dt
wb_cy = xw.Book('cytiva.xlsm')
SHEET_NAMES =  ['Temp_DB', 'Shipment information', '인수증', 
'대리점송장', '대리점 출고대기', '로컬리스트', 'In-Transit part report', '기타리스트',
 '출고리스트', 'Cytiva Inventory BIN']
LOCATION = r"C:\Users\lms46\Desktop\fulfill\instantclient_fulfill"
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]
cx_Oracle.init_oracle_client(lib_dir=LOCATION)

connection = cx_Oracle.connect(
    user='dw_fulfill', password='fulfillment123QWE!@#', dsn='fulfill_high'

)
cursor = connection.cursor()

In [25]:
std_day = str(dt.datetime.now()).split(' ')[0]

In [4]:
my_date_handler = lambda year, month, day, **kwargs: "%04i-%02i-%02i" % (year, month, day)

In [16]:
ws_stock = wb_cy.sheets['재고리스트']
last_row = ws_stock.range('A1048576').end('up').row
last_col = ws_stock.range('XFD1').end('left').column
col_names = ws_stock.range((1,1),(1,last_col)).value
for idx,name in enumerate(col_names):
    col_names[idx] = name.replace(' ','_')
tb_rng_val = ws_stock.range((2,1),(last_row,last_col)).options(numbers=int, dates=my_date_handler).value
df_stock = pd.DataFrame(tb_rng_val,columns=col_names)

In [30]:
df_stock = df_stock[db_cols[:-1]]
df_stock['STD_DAY']= std_day
df_stock = df_stock.fillna('')
df_stock.dtypes

ARTICLE_NUMBER     object
SUBINVENTORY       object
LOCATION           object
QUANTITY            int64
IN_DATE            object
EXPIRY_DATE        object
CURRENCY           object
LOT_COST            int64
LOT_COST_IN_USD     int64
STD_DAY            object
dtype: object

In [38]:
df_stock.insert(0,'SS_KEY','')

In [39]:
df_stock

,SS_KEY,ARTICLE_NUMBER,SUBINVENTORY,LOCATION,QUANTITY,IN_DATE,EXPIRY_DATE,CURRENCY,LOT_COST,LOT_COST_IN_USD,STD_DAY
0,,11000314,KR_SERV01,,1,2022-12-05,,KRW,2291234,1817,2023-03-01
1,,11000322,KR_CSW,,1,2023-01-05,,KRW,175786,139,2023-03-01
2,,11000322,KR_SERV01,,1,2022-08-07,,KRW,175786,139,2023-03-01
3,,11000735,KR_SERV01,,1,2022-12-12,,KRW,420510,333,2023-03-01
4,,11000735,KR_SERV01,,1,2022-12-12,,KRW,420510,333,2023-03-01
...,...,...,...,...,...,...,...,...,...,...,...
1660,,82000250,KR_LOCN02,,1,2022-12-05,,KRW,2500000,1982,2023-03-01
1661,,82000250,KR_LOCN02,,1,2022-12-05,,KRW,2500000,1982,2023-03-01
1662,,TBA_30001,KR_DEMO,NULL.0.0.0.KR,1,2019-06-21,,KRW,15036302,11924,2023-03-01
1663,,VFD_30006,KR_DEMO,NULL.0.0.0.KR,1,2021-06-22,,KRW,43671244,34631,2023-03-01
1664,,VF_30001,KR_DEMO,NULL.0.0.0.KR,1,2018-05-30,,KRW,27497449,21805,2023-03-01

In [33]:
len(df_stock.columns)

10

In [14]:
db_cols = ['ARTICLE_NUMBER', 'SUBINVENTORY', 'LOCATION', 'QUANTITY', 'IN_DATE', 'EXPIRY_DATE', 'CURRENCY', 'LOT_COST', 'LOT_COST_IN_USD', 'STD_DAY']

In [11]:
for idx,name in enumerate(col_names):
    col_names[idx] = name.replace(' ','_')

['OU NAME',
 'COUNTRY',
 'PROD CENTRE',
 'PROD GROUP',
 'ARTICLE NUMBER',
 'DESCRIPTION',
 'PROD STATUS TYPE',
 'LOT NUMBER',
 'SERIAL NUMBER',
 'SUBINVENTORY',
 'LOCATION',
 'QUANTITY',
 'IN DATE',
 'EXPIRY DATE',
 'CURRENCY',
 'LOT COST',
 'LOT COST IN USD',
 'LOT COST IN EUR']