In [1]:
import cx_Oracle
import os
import pandas as pd
#!pip insall cx_Oracle
import xlwings as xw
import pandas as pd
wb_cy = xw.Book('cytiva.xlsm')
SHEET_NAMES =  ['Temp_DB', 'Shipment information', '인수증', 
'대리점송장', '대리점 출고대기', '로컬리스트', 'In-Transit part report', '기타리스트',
 '출고리스트', 'Cytiva Inventory BIN']
LOCATION = r"C:\Users\lms46\Desktop\fulfill\instantclient_fulfill"
os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]
cx_Oracle.init_oracle_client(lib_dir=LOCATION)

connection = cx_Oracle.connect(
    user='dw_fulfill', password='fulfillment123QWE!@#', dsn='fulfill_high'

)
cursor = connection.cursor()

In [17]:
import datetime as dt
connection = cx_Oracle.connect(
    user='dw_fulfill', password='fulfillment123QWE!@#', dsn='fulfill_high'

)
cursor = connection.cursor()

In [14]:
def get_current_time():
    """
    현재시간 년,월,일 시,분,초 반환
    """
    now = str(dt.datetime.now()).split('.')[0]

    return now
get_current_time()

'2023-02-10 08:05:28'

In [16]:
sel_sht = wb_cy.selection.sheet
sel_sht.range((3,"J")).options(dates=dt.datetime).value

datetime.datetime(2023, 2, 7, 14, 49, 7)

In [32]:
test_df = pd.DataFrame([['4','2','3','4']])

col_names = ['TEST', 'ADDRESS', 'EMAILS','UP_TIME']
get_insert_values(col_names)

':1,:2,:3,:4'

In [35]:
table_name = "TEST"
test_df = pd.DataFrame([['4','2','3','4']])
col_names = ['TEST', 'ADDRESS', 'EMAILS','UP_TIME']
query = 'INSERT INTO '+ table_name + f' VALUES ({get_insert_values(col_names)})'

test_df = test_df.values.tolist()
test_df =list(pd.Series(test_df).map(tuple))
cursor.executemany(query,test_df,batcherrors= True)
cursor.execute("commit")

In [18]:
def get_insert_values(col_list):

    """
    cx_Oracle용 values 연속된 숫자 그룹 str만들때 사용 str 반환

    """
    
    list_len = len(col_list)

    value_list = []
    for i in range(1,list_len+1):
        value_list.append(":"+str(i))
    str_val = ','.join(value_list)
    
    return str_val