In [2]:
# xlwings 임포트하기 기본.
import xlwings as xw

## 출고하는 행 번호 및 시트 이름 반환

- sheet번호로 하면 절대안됨, 사용자는 언제든 실수든 의도든 변경이 가능하기 때문
    - **sheet 이름으로 찾아갈 것**

In [3]:
import os, sys
from pathlib import Path

In [4]:
cy_path = Path.cwd().parent.joinpath('cytiva.xlsm')

In [5]:
xw.books[0].name

'cytiva.xlsm'

In [6]:
# 실행되고있는 엑셀 문서 이름 찾기
for book in xw.books:
    print(book.name)

cytiva.xlsm

In [7]:
# 'C:/Users/lms46/Desktop/fulfill/cytiva.xlsx'
# cy_path -> cytiva.xlsx 찾기
xw.Book(cy_path)

In [8]:
## cytiva 통합문서 변수 선언
wb_cy = xw.Book(cy_path)

In [8]:
wb_cy.selection.sheet.name

'Shipment information'

In [9]:
wb_cy.selection.api.SpecialCells(12).Address

'$C$8'

In [10]:
def row_nm_check(xw_book_name=xw.books[0]):
    """
    Return Dict, get activated sheet's name(str), get selected row's number(list)
    """
    sel_rng = xw_book_name.selection.api.SpecialCells(12).Address.split(",")
    
    
    range_list = []
    
    for rng in sel_rng:

        if ":" in rng:
            num_0 = rng.split(":")[0].split("$")[-1]
            num_1 = rng.split(":")[1].split("$")[-1]
            #범위선택이 한 컬럼이 아닌 여러 컬럼을 동시에 선택된 경우
            if num_0 == num_1 :
                range_list.append(num_0)
            else : 
                range_list.append(str(num_0) + ',' + str(num_1))
        else :
            range_list.append(rng.split("$")[-1])
            
    dict_row_num_sheet_name = {"sheet_name":xw_book_name.selection.sheet.name,'selectIon_row_nm':range_list}
    return dict_row_num_sheet_name

In [11]:
# 선택한 행 시트 이름

row_nm_check(wb_cy)['sheet_name']

'Shipment information'

In [12]:
## 출고행 번호 리스트 -> 문자열로 변환
def get_row_list_to_string(seleted_row_list) :
    return ' '.join(seleted_row_list).replace(',','~').replace(' ', ', ')

In [13]:
get_row_list_to_string(row_nm_check(wb_cy)['selectIon_row_nm'])

'20~22'

## SO 출고하기
- 로컬 품목 같이 출고하는 경우 고려

1. 출고 행 선택하기
    - 우선 "C2:C7" 행 값 비우기
    - 출고대기 상태 변경
    - "C4" 값으로 자동으로 =TODAY()+1 입력
    - "C2" 값에 선택한 행 자동입력
    - ship_date 컬럼이 비어있는지 확인
2. 빈 정보가 없는지 확인
    - 하하

In [14]:

ws_shi=wb_cy.sheets['Shipment information']
ws_local = wb_cy.sheets['로컬리스트']

# 1-1 
ws_shi.range("C2:C7").clear_contents()

ws_local.range("C2:C7").clear_contents()
# 1-2
ws_shi.range("H4").color = (255,255,255)
ws_shi.range("H4").value = "출고 대기"
ws_shi.range("C4").value = "=TODAY()+1"

ws_local.range("E4").value = "로컬 출고 대기"
ws_local.range("E4").color = (255,255,255)

# 1-3
ws_shi.range("C2").value = get_row_list_to_string(row_nm_check(wb_cy)['selectIon_row_nm'])


si_sht_list = wb_cy.sheets['Shipment information'].range('C2:C6').value

si_sht_list

['20~22', None, datetime.datetime(2022, 12, 16, 0, 0), None, None]

In [15]:
# 2-1
si_sht_list = wb_cy.sheets['Shipment information'].range('C2:C6').value
si_sht_list_name = wb_cy.sheets['Shipment information'].range('B2:B6').value
none_list = []
must_fill = []
for index, val in enumerate(si_sht_list):
    if val == None:
        none_list.append(index)
        
# 필수 입력분이 누락되었을 경우
if len(none_list) > 0 :
    
    for val in none_list:
        must_fill.append(si_sht_list_name[val])
    
    
## must_fill == [] 일 경우 출고를 시작 할 수 있게된다.


# Local출고 체크
else:
    print("로컬출고체크")

['담당자', '배송방법', '인수증방식']

In [23]:
ans_local = wb_cy.app.api.InputBox("Local출고 품목이 있을 경우 1, 없을경우 0 을 입력해주세요.",
                                   "Local Check",
                                   "1 또는 0만 입력해주세요. 취소는 취소버튼을 눌러주세요.",
                                   Type=1)

if ans_local == 1 :
    print("로컬품목 있음")
    ws_shi.range("H4").color = (255,255,0)
    ws_shi.range("H4").value = 'Local 출고 행 입력필요'
    ws_shi.range("C7").value = "need_row_nums"
    ##여기서 로컬페이지 actvate 
    local_act_ob()
    
elif ans_local == 0 :
    print("로컬품목 없음")
    ws_shi.range("C7").value = "no_local"
    ws_shi.range("H4").color = (0,255,255)
    ws_shi.range("H4").value = '출고 준비 완료(ShipConfirm 클릭 시 출고 진행)'
    
elif ans_local == False :
    print("출고 취소")
    ws_shi.range("C2:C7").clear_contents()
    ws_shi.range("C4").value = "=TODAY()+1"
    ws_shi.range("H4").color = (255,255,255)
    ws_shi.range("H4").value = "출고 대기"
    ## clear_form() 매서드호출 하여 초기화

로컬품목 있음

In [22]:
# 로컬출고일 경우 로컬리스트 시트로 이동 후 로컬 출고를 지시한다.

def local_act_ob() : 
    ws_local = wb_cy.sheets['로컬리스트']
    for index, val in enumerate(ws_shi.range("C2:C6").value) :
        ws_local.range("C"+ str(index+3)).value = val

    
    ws_local.activate()

    ws_local.range("E4").value = "로컬 출고(출고 행 선택 후 LocalReady 버튼 클릭)"
    ws_local.range("E4").color = (0,255,255)

In [25]:
## LocalReday 버튼

## L/C 출고 행 채우기
local_row_nums = get_row_list_to_string(row_nm_check(wb_cy)['selectIon_row_nm'])

confirm_local = wb_cy.app.api.InputBox("행 번호 : " + local_row_nums + " 출고가 맞습니까? 맞으면 1, 틀리면 0",
                                   "Local Check",
                                   "1 또는 0만 입력해주세요. 취소는 취소버튼을 눌러주세요.",
                                   Type=1)


if confirm_local == 1 :
    print("로컬 출고 확인")
    ws_local.range("C2").value = local_row_nums
    ws_shi.activate()
    ws_shi.range("C7").value = local_row_nums
    ws_shi.range("H4").color = (0,255,255)
    ws_shi.range("H4").value = '출고 준비 완료(ShipConfirm 클릭 시 출고 진행)'
    
elif confirm_local == 0 :
    ws_local.range("C2").clear_contents()
    print("로컬 출고 행 번호가 아님")

elif confirm_local == False :
    print("취소")

로컬 출고 확인

In [ ]:
def local_reday():
    ws_shi=wb_cy.sheets['Shipment information']
    ws_local = wb_cy.sheets['로컬리스트']
    local_row_nums = get_row_list_to_string(row_nm_check(wb_cy)['selectIon_row_nm'])

    confirm_local = wb_cy.app.api.InputBox("행 번호 : " + local_row_nums + " 출고가 맞습니까? 맞으면 1, 틀리면 0",
                                       "Local Check",
                                       "1 또는 0만 입력해주세요. 취소는 취소버튼을 눌러주세요.",
                                       Type=1)


    if confirm_local == 1 :
        print("로컬 출고 확인")
        ws_local.range("C2").value = local_row_nums
        ws_shi.activate()
        ws_shi.range("C7").value = local_row_nums
        ws_shi.range("H4").color = (0,255,255)
        ws_shi.range("H4").value = '출고 준비 완료(ShipConfirm 클릭 시 출고 진행)'

    elif confirm_local == 0 :
        ws_local.range("C2").clear_contents()
        print("로컬 출고 행 번호가 아님")

    elif confirm_local == False :
        print("취소")

In [27]:
import pandas as pd

In [67]:
# ShipConfirm 버튼

so_row = ws_shi.range("C2").value
lc_row = ws_shi.range("C7").value
so_row.replace(' ','').split(',')

['20468~20477', '20483~20484', '20491']

In [69]:
# 행 번호 df로 반환 

so_row_list = so_row.replace(' ','').split(',')
df_so = pd.DataFrame()

for row in so_row_list :
    
    # 연속된 행인 경우
    if '~' in row :
        df_so = pd.concat([df_so,pd.DataFrame(ws_shi.range('A' + row.split('~')[0] + ':' + 'R' +row.split('~')[1]).options(numbers=int).value)]) 
    else : 
        df_so = pd.concat([df_so,pd.DataFrame(ws_shi.range('A' + row + ':' + 'R' + row ).options(numbers=int).value).T])
df_so =

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,STO0165597,115394016,140148519,1,2022-10-24,2124780,8981.0,None,에스티팜,2022-10-31,None,None,None,KJJ_2022-M-021,UPD3352242,None,None,None
1,STO0165597,115394016,140148520,1,2022-10-24,2124780,NaN,None,에스티팜,2022-10-31,None,None,None,KJJ_2022-M-021,UPD3352240,None,None,None
2,STO0165597,115394016,140148521,1,2022-10-24,2124780,NaN,None,에스티팜,2022-10-31,None,None,None,KJJ_2022-M-021,UPD3352252,None,None,None
3,STO0165597,115394016,140148534,1,2022-10-24,2124780,NaN,None,에스티팜,2022-10-31,None,None,None,KJJ_2022-M-021,UPD3352249,None,None,None
4,STO0165597,115394016,140148535,1,2022-10-24,2124780,NaN,None,에스티팜,2022-10-31,None,None,None,KJJ_2022-M-021,UPD3352251,None,None,None
5,STO0165597,115394017,140139580,1,2022-10-24,2125001,10992.0,None,삼성바이오로직스,2022-10-31,None,None,None,SVC_PO4500032639,UPD3351756,None,None,None
6,STO0165597,115394017,140139582,1,2022-10-24,2125001,NaN,None,삼성바이오로직스,2022-10-31,None,None,None,SVC_PO4500032639,UPD3351685,None,None,None
7,STO0165597,115394017,140147742,1,2022-10-24,2125226,7301.0,None,삼성바이오로직스,2022-10-31,None,None,None,SVC_PO4500033405,UPD3351698,None,None,None
8,STO0165597,115394017,140147742,1,2022-10-24,2125325,911.0,None,삼성바이오로직스,2022-10-31,None,None,None,LCY_PO#4500033426,UPD3352005,None,None,None
9,STO0165597,115394018,140140599,1,2022-10-24,2125289,565.0,None,삼성바이오에피스,2022-10-31,None,None,None,SVC_PO4500036748,UPD3351729,None,None,None
0,STO0165597,115394023,140139405,1,2022-10-24,800598,2921.0,None,에스에프씨,2022-10-31,None,None,None,SHL_SFC_Q-266186 V0_Oligo Pilot,UPD3351872,None,None,None
1,STO0165597,115394024,140138466,1,2022-10-24,2122133,12999.0,None,바이넥스 오송공장,2022-10-31,None,None,None,BJH_Binex_EP1-D-20887/8_CaptoS/Q,UPD3351866,None,None,None
0,STO0165597,115394008,140138518,1,2022-10-24,2120686,136789,None,삼성바이오로직스,2022-10-31,None,None,None,4500027149,UPD3352081,None,None,None

In [63]:
if '출고 준비 완료' in ws_shi.range('H4').value:

    print(ws_shi.range("C2:C7").value)

['3249, 3253, 3279, 3314, 3460, 4224', '성유진님', datetime.datetime(2022, 12, 16, 0, 0), '일반배송', 'P/L', '15~17']

In [60]:
ws_shi.range("C2:C7").value[2].date().isoformat()

'2022-12-16'

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,STO0151193,105655235.0,119081704.0,1.0,2021-05-26,800145.0,10896.13,None,이연제약,2021-06-03,2021-09-10,2021-09-29,None,SJ_JKJ_Reyon_AKTA ReadyFlux XL system,UPD3106916,None,None,13627.0

In [139]:

# 춢고할 수 있는 행인지 먼저 확인하기
if row_nm_check(wb_cy)['sheet_name'] == 'Shipment information' :
    wb_cy.sheets['Shipment information'].range('C2:C8').value

In [11]:
from datetime import datetime

In [12]:

ws_si=wb_cy.sheets['Shipment information']
ws_lc = wb_cy.sheets['로컬리스트']

In [19]:
ws_si.range("C2").options(numbers=int).value

'2938~2952, 2959~2963'

In [9]:
import pandas as pd

In [13]:
so_row = ws_si.range("C2").value
lc_row = ws_si.range("C7").value

In [21]:
## 얻은 행번호 DF로 만들기

so_row_list = so_row.replace(' ','').split(',')
df_so = pd.DataFrame()

for row in so_row_list :
    
    # 연속된 행인 경우
    if '~' in row :
        df_so = pd.concat([df_so,pd.DataFrame(ws_si.range('A' + row.split('~')[0] + ':' + 'R' +row.split('~')[1]).options(numbers=int).value)]) 
    else : 
        df_so = pd.concat([df_so,pd.DataFrame(ws_si.range('A' + row + ':' + 'R' + row ).options(numbers=int).value).T])

df_so.rename(columns={17:'si_index'},inplace=True)

In [23]:
import copy

In [44]:
# 연속된 숫자 표현

# 'c'는 연속된 숫자, 'd'는 분리필요

idx_list = list(df_so['si_index'])

idx_cal = [idx_list[0]]
tmp = idx_list[0]

for val in idx_list:
    if tmp == val:
        continue
    elif tmp == val - 1 :
        idx_cal.append('c')
        tmp = val
    else :
        idx_cal.append('d')
        idx_cal.append(tmp)
        tmp = val
        
print(idx_cal)

[12341, 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 12355, 'c', 'c', 'c', 'c']

In [61]:
# 
idx_cal = list(map(str, idx_cal))
d_count = idx_cal.count('d')

In [106]:
today= datetime.today().date().isoformat().replace('-','')[2:]
today

'221223'

In [110]:

idx_done = ''.join(idx_cal).split('d')
idx_list_fin = []
today= datetime.today().date().isoformat().replace('-','')[2:]
fin_idx = today

for idx in range(d_count+1):
    val = idx_done[idx]
    if 'c' in val :
        c_count = val.count('c')
        val = val.replace('c','')
        idx_list_fin.append(val + 'C' +str(int(val) + c_count))
    else :
        idx_list_fin.append(val)
idx_list_fin

fin_idx = fin_idx + '_'+'A'.join(idx_list_fin)
fin_idx

'221223_12341C12355A12355C12359'

In [51]:
idx_cal[15:][1:]

['12355', 'c', 'c', 'c', 'c']

In [50]:
idx_cal[:15]

['12341', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [113]:
idx_list

[12602, 12603, 12652, 12656, 12682, 12717, 12863, 13627, 13938, 15240, 15285]

## Unique 키값만들기

1. 출고하는 행, 품목의 개수가 몇개든 출고기록은 1개로 기록됨

In [115]:

def get_idx():

    # 연속된 숫자 표현

    # 'c'는 연속된 숫자, 'd'는 분리필요

    idx_list = list(df_so['si_index'])

    idx_cal = [idx_list[0]]
    tmp = idx_list[0]

    for val in idx_list:
        if tmp == val:
            continue
        elif tmp == val - 1 :
            idx_cal.append('c')
            tmp = val
        else :
            idx_cal.append('d')
            idx_cal.append(tmp)
            tmp = val

    idx_cal = list(map(str, idx_cal))
    d_count = idx_cal.count('d')

    idx_done = ''.join(idx_cal).split('d')
    idx_list_fin = []

    today= datetime.today().date().isoformat().replace('-','')[2:]
    fin_idx = today

    for idx in range(d_count+1):
        val = idx_done[idx]
        if 'c' in val :
            c_count = val.count('c')
            val = val.replace('c','')
            idx_list_fin.append(val + 'C' +str(int(val) + c_count))
        else :
            idx_list_fin.append(val)

    fin_idx = fin_idx + '_'+'A'.join(idx_list_fin)

    return fin_idx

'221223_12602C12603A12603A12652A12656A12682A12717A12863A13627A13938A15240'

In [18]:
## 시트만 입력하면 출고해야하는 index 값들 출력,

# 출고행 번호
out_row_nums = ws_lc.range("C2").options(numbers=int).value

# index 행 위치 == 9 고정

# 해당시트의 column의 개수 찾기
col_count = ws_lc.range("XFD9").end('left').column

type(ws_lc.range(9,1))

xlwings.main.Range

In [19]:
# column의 이름 리스트로 받기
col_names = ws_lc.range(ws_lc.range(9,1),ws_lc.range(9,col_count)).value
col_names

['입고일',
 'CAT NO',
 'DESCRIPTION',
 "Q'TY",
 'Your Ref./Our Ref.',
 'receipt no.',
 'Customer Ref.',
 None,
 'REMARK',
 'lc_index']

In [24]:
# '_index'가 포함된 리스트의 순서 얻기
col_names = pd.Series(col_names).fillna('None')
for idx ,i in enumerate(col_names):
    if i == None:
        continue
    elif '_index' in i :
        print(idx)

9

In [73]:


def get_out_table(sheet_name,index_row_number=9):
    
    out_row_nums = sheet_name.range("C2").options(numbers=int).value
    col_count = sheet_name.range("XFD9").end('left').column
    idx_row_num = index_row_number
    col_names = sheet_name.range(sheet_name.range(int(idx_row_num),1),sheet_name.range(int(idx_row_num),col_count)).value
    
    for idx ,i in enumerate(col_names):
        
        if i == None:
            continue
        elif '_index' in i :
            col_num = idx
    
    df_so = pd.DataFrame()
    
    try :
        row_list = out_row_nums.replace(' ','').split(',')
    except:
        row_list = [out_row_nums]
    
    for row in row_list :

        # 연속된 행인 경우
        if '~' in str(row) :
            left_row =int(row.split('~')[0])
            right_row = int(row.split('~')[1])
            rng = sheet_name.range(sheet_name.range(left_row,1),sheet_name.range(right_row,col_count))
            df_so = pd.concat([df_so,pd.DataFrame(sheet_name.range(rng).options(numbers=int).value)]) 
        else :
            left_row =int(row)
            right_row = int(row)
            rng = sheet_name.range(sheet_name.range(left_row,1),sheet_name.range(right_row,col_count))
            df_so = pd.concat([df_so,pd.DataFrame(sheet_name.range(rng).options(numbers=int).value).T])

    
    return list(df_so[col_num])

In [77]:
get_out_table(ws_si)

[24321,
 26363,
 26364,
 26423,
 26476,
 26551,
 26667,
 26832,
 26923,
 26924,
 29618,
 29623,
 29624,
 29626,
 29628]

In [151]:
def get_idx(sheet_name):
    """
    xlwings.main.Sheet를 인수로 입력
    """
    # 연속된 숫자 표현

    # 'c'는 연속된 숫자, 'd'는 분리필요

    idx_list = get_out_table(sheet_name)

    idx_cal = [idx_list[0]]
    tmp = idx_list[0]
    for val in idx_list:
        if tmp == val:
            continue
        elif tmp == val - 1 :
            idx_cal.append('c')
            tmp = val
        else :
            idx_cal.append('d')
            idx_cal.append(val) 
            tmp = val
    
    idx_cal = list(map(str, idx_cal))
    d_count = idx_cal.count('d')

    idx_done = ''.join(idx_cal).split('d')
    idx_list_fin = []

    
    fin_idx = sheets_names[sheet_name.name]
    
    for idx in range(d_count+1):
        val = idx_done[idx]
        if 'c' in val :
            c_count = val.count('c')
            val = val.replace('c','')
            idx_list_fin.append(val + 'C' +str(int(val) + c_count))
        else :
            idx_list_fin.append(val)

    fin_idx = fin_idx + '_'+'A'.join(idx_list_fin)

    return fin_idx

In [149]:
wb_cy.sheet_names
wb_sht_list = ['Shipment information',
 '인수증',
 '대리점송장',
 '대리점 출고대기',
 '로컬리스트',
 'In-Transit part report',
 '기타리스트',
 '출고리스트','툴리스트']

abbreviation=['si','so_pod','br','br_d','lc','svmx','else','sc','tool']

abb_sheets_names = dict(zip(wb_sht_list,abbreviation))
abb_sheets_names

{'Shipment information': 'si',
 '인수증': 'so_pod',
 '대리점송장': 'br',
 '대리점 출고대기': 'br_d',
 '로컬리스트': 'lc',
 'In-Transit part report': 'svmx',
 '기타리스트': 'else',
 '출고리스트': 'sc',
 '툴리스트': 'tool'}

In [134]:
get_idx(ws_si)

'si_24321A26363C26364A26423A26476A26551A26667A26832A26923C26924A29618A29623C29624A29626A29628'

In [150]:
reverse_abb_sheets_names= dict(map(reversed,abb_sheets_names.items()))

In [182]:
wb_cy.selection.sheet.range("H4").color = None

In [203]:
tmp_idx = str(wb_cy.sheets['temp_db'].range("C500000").end('up').row )
tmp_idx

'5'

TypeError: RangeRows.__call__() missing 1 required positional argument: 'key'

In [156]:
def get_out_info(sheet_name):
    
    info_list = sheet_name.range("C3:C7").value
    info_list[1]=info_list[1].date().isoformat()
    today= datetime.today().date().isoformat().replace('-','')
    tmp_idx = str(wb_cy.sheets['temp_db'].range("C500000").end('up').column + 1 )
    out_idx = today + '_' + tmp_idx
    
    info_list.insert(0,get_idx(sheet_name))
    info_list.insert(0,out_idx)
    
    return info_list

In [157]:
get_out_info(ws_si)

['20221227_4',
 'si_24321A26363C26364A26423A26476A26551A26667A26832A26923C26924A29618A29623C29624A29626A29628',
 '홍길동',
 '2022-12-26',
 '일반배송',
 'P/L',
 'no_local']

In [107]:
ws_si.range("C3:C7").value

['홍길동', datetime.datetime(2022, 12, 26, 0, 0), '일반배송', 'P/L', 'no_local']

In [104]:
wb_cy.sheets['temp_db'].range("C2:I2").value

['out_idx',
 'sht_row_idx',
 'person_in_charge',
 'ship_date',
 'del_med',
 'pod_med',
 'is_local']

In [ ]:
# 출고_인덱스 (unique)
# out_idx == today +'_' + '번호 1부터시작'
# sht_row_idx == get_idx(ws_si) => 시트 약자 + 해당시트 행의 idx번호
# person_in_charge ==

In [162]:
wb_cy.selection.sheet.name

'Temp_DB'

In [223]:
## ship_confirm() 
# 로컬품목과 함께출고
get_idx(ws_lc)

'lc_10'

In [198]:
# status가 적혀있는 문구 주소
wb_cy.selection.sheet.range("AAA4").end('left')

'ship_is_ready'